fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic[email]
alembic
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
PyJWT
python-multipart
google-generativeai
Pillow
requests
httpx
huggingface_hub
tensorflow-cpu
numpy
supabase